* {
    box-sizing: border-box;
}

.blackKey {
    background: black;
    border: black 0.1vw solid;
    height: 60%;
    margin: 0 0 0 -5%;
    width: 9%;
    z-index: 1;
}

.explanation {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    height: 10vw;
    justify-content: center;
    margin: 0 0 2% 0;
    text-align: center;
    width: 100%;
}

.frets {
    display: flex;
    flex-direction: column;
    width: 4.9%;
}

.guitarOverlay {
    height: 47.25vw;
    left: 0;
    position: absolute;
    top: 9.15vw;
    width: 104%;
}

.guitarWrap {
    align-items: center;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    background: url("../img/overlay.png");
    display: flex;
    flex-direction: column;
    height: 47vw;
    justify-content: center;
    margin: 0 0 2% 0;
    width: 100%;
}

.inputs {
    align-items: center;
    display: flex;
    height: 12vw;
    justify-content: flex-start;
    margin: 0 0 2.18% 0;
    padding: 0 0 0 5.6%;
    width: 100%;
}

.octave {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: 15%;
}

.piano {
    align-items: center;
    display: flex;
    height: 11vw;
    justify-content: center;
    width: 100%;
}

.select {
    align-items: center;
    display: flex;
    height: 6vw;
    justify-content: center;
    position: absolute;
    width: 17%;
}

.selectInstrument, .selectTuning {
    border-radius: 0.7vw;
    border: 0.1vw solid black;
    font-size: 1.2vw;
    height: 3vw;
    position: relative;
    text-align: center;
    top: -11vw;
    width: 100%;
}

.stringIndex {
    font-size: 1vw;
    height: 1.3vw;
    text-align: center;
    transition: 1s;
    width: 100%;
}

.strings {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 4%;
}

.stringsIndex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 2%;
}

.toTheLeftOfBlackKey {
    margin: 0 0 0 -5%;
}

.whiteKey {
    background: white;
    border: black 0.1vw solid;
    height: 100%;
    width: 15%;
}

body {
    box-sizing: border-box;
    color: #333;
    font-family: Helvetica;
    font-size: 1.4vw;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    display: flex;
    flex: 1;
}

html {
    height: 100%;
    width: 100%;
}

input[type="text"] {
    font-size: 1vw;
    outline: none;
    padding: 0;
    text-align: center;
    transition: 1s;
    background: none;
}

.stringInput {
    border: 0.1vw black solid;
    border-left: 0.3vw solid black;
}

.fretInput {
    border: 0.1vw black solid;
    border-right: 0.3vw solid black;
}

.mainWrap {
    margin: auto;
}